<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Homebanking</title>
	<link rel="stylesheet" href="/src/main/resources/static/css/style.css">
	<link href="/src/main/resources/static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body id="top">
	<div class="div-body">
		<!-- Sección del Header-->
		<header class="header-body">
			<nav>
				<ul class="nav-logo">
					<li><a>LOGO</a></li>
				</ul>
				<ul class="nav-menu-items">
					<li><a title="Movies">Personas</a></li>
					<li><a title="Series">Empresas</a></li>
					<li><a title="Comics">Ayuda</a></li>
				</ul>
				<ul class="nav-search">
					<input type="search" id="header-search" class="form-control" placeholder="Search" autocomplete="off"
						aria-label="Search">
				</ul>
				<ul class="nav-login">
					<li><a href="Login.html" title="Login">Online Banking</a></li>
				</ul>
			</nav>
		</header>

		<!-- Sección del Main principal -->
		<div class="container-main">
			<header class="header-main">
				<h1>Online Banking</h1>
				<hr>
			</header>

			<div class="div-post-main">
				<a href="">COLUMN 1</a>
			</div>
			<div class="div-post-main">
				<a href="">COLUMN 2</a>
			</div>
			<div class="div-post-main">
				<a href="">COLUMN 3</a>
			</div>
		</div>


		<!-- Seccion del Footer -->
		<footer class="footer-body">
			<div class="footer-1">
				<div class="comeback-top">
					<a href="#top">Volver arriba</a>
				</div>
			</div>

			<div class="legal-end-footer">
				<span>Términos de servicio</span>
				<span>Política de privacidad</span>
				<span>Política de reembolso</span>
				<span>Seguridad</span>
			</div>
			<div class="legal-end-footer">
				<span>Todos los derechos reservados | @2022, Inc.</span>
			</div>
		</footer>

		<script src="js/bootstrap.bundle.min.js"></script>
	</div>

</body>

</html>